{% extends 'layout-app-ur.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/ur07/index" %}

{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

<div class="nhsuk-grid-row"></div>
<div class="nhsuk-grid-column-two-thirds"></div>

<!-- DYNAMIC PAGE TITLE -->
{{ dynamicPageTitle({
title: pageHeading,
titleSmall: true,
titleHiddenTextBefore: "Message from",
description: pageDescription,
descriptionMuted: true
})}}

<div class="nhsuk-u-padding-bottom-4">
  <p class="nhsuk-body">Dear Joe Doe,</p>
  <p class="nhsuk-body">We have recently been asked to remove you from the NHS Cervical Screening Programme by your GP or clinic.</p>
  <p class="nhsuk-body">Because of this, we have removed your name from the invitation list. You will not receive any more cervical screening invitations or reminders.</p>
<p class="nhsuk-body">You can change your mind at any time as long as you are still eligible for cervical screening. </p>

  <p class="nhsuk-u-margin-bottom-2">Speak to a GP as soon as possible if you have any of the following symptoms, regardless of your cervical screening history:</p>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>vaginal bleeding that is unusual for you - bleeding during or after sex, between 
your periods, after the menopause or heavier periods than usual</li>
    <li>pain during sexual intercourse</li>
    <li>changes to vaginal discharge</li>
    <li>pain in your lower back, between your hip bones (pelvis), or in your lower tummy</li>
  </ul>
  <p>Find more about cervical screening at: www.nhs.uk/cervical.</p>

<h3>If you think our information is incorrect or you have any questions, contact a GP or your nearest sexual health clinic.</h3>

</div>
</div>


{% endblock %}
