{% extends 'layout-app-ur.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/ur07/index" %}

{% set pageHeading = "Cervical screening letter" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

<div class="nhsuk-grid-row"></div>
<div class="nhsuk-grid-column-two-thirds"></div>

<!-- DYNAMIC PAGE TITLE -->
{{ dynamicPageTitle({
title: pageHeading,
titleSmall: true,
titleHiddenTextBefore: "Message from",
description: pageDescription,
descriptionMuted: true
})}}

<div class="nhsuk-u-padding-bottom-4">
  <p class="nhsuk-body">Dear Joe Doe,</p>
  <p class="nhsuk-body">We have recently been asked to remove you from the NHS Cervical Screening Programme by your GP
    or clinic.</p>
  <p class="nhsuk-body">Because of this, we have removed your name from the invitation list. You will not receive any
    more cervical screening invitations or reminders.</p>

   <h5 class="nhsuk-heading-xs">Why you have been removed</h5>
  <p class="nhsuk-u-margin-bottom-2">You are no longer eligible for cervical screening because you will be over the age of 65 
when your next test is due.<p>
  <p class="nhsuk-body">You are highly unlikely to develop cervical cancer if you are 65 and over and do not have 
a recent history of abnormal screening results.</p>

    <h5 class="nhsuk-heading-xs">More information</h5>
  <p class="nhsuk-u-margin-bottom-2">
  <p>Find more about cervical screening at: <a href="#" class="nhsuk-link">www.nhs.uk/cervical. </a>

<p class="nhsuk-body"> If you think our information is incorrect or you have any questions, contact a GP or your nearest sexual health clinic.</p>

</div>
</div>


{% endblock %}
 
