{% extends 'layout-app-ur.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/ur07/index" %}

{% set pageHeading = "Cervical screening letter" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

<div class="nhsuk-grid-row"></div>
<div class="nhsuk-grid-column-two-thirds"></div>

<!-- DYNAMIC PAGE TITLE -->
{{ dynamicPageTitle({
title: pageHeading,
titleSmall: true,
titleHiddenTextBefore: "Message from",
description: pageDescription,
descriptionMuted: true
})}}

<div class="nhsuk-u-padding-bottom-4">
  <p class="nhsuk-body">Dear Joe Doe,</p>
  <p class="nhsuk-body">
    The NHS Cervical Screening Programme works with GPs to find out who needs to be
    invited for cervical screening. Your GP practice or clinic has told us you no longer need
    invitations. We do not have access to your medical records, so we do not know your
    individual circumstances.
  </p>
  <p>
    Usually, we are asked to stop sending invitations for cervical screening due to recent
    surgery, which means you are no longer at risk of cervical cancer. If you are not sure why
    your invitations are stopping, please speak with your GP.
  </p>
  <p>
    We appreciate this can be a sensitive issue, but we need to let you know that we will no
    longer be sending cervical screening invitations. This letter is sent to make sure you are
    not incorrectly removed from the screening programme.
  </p>

  <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3">
    If you think our information is incorrect, or you have any questions, please speak with
    your GP.
  </h3>

</div>
</div>


{% endblock %}