{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Cervical Screening Prototype</h1>
      <p class="nhsuk-lede-text">
        A prototype for cervical screening.
      </p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/ur07/index">Link to prototype</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
